#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-row {
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.table-row:hover {
    background-color: #ffffff; /* SpaceX deep navy */
    color: #000000;
}